#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

#about {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

#cta {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

#cta .title {
    font-size: 4rem;
    color: #1d1d1d;
}

#cta .title span {
    color: #e9a209;
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: #1d1d1d;
}

#banner {
    display: flex;
    align-items: end;
    justify-content: start;
    margin-top: -315px;
    margin-left: 115%;
    width: 70%;
    z-index: 2;
}

#banner img {
    width: fit-content;
    height: 100%;
    max-width: 550px;
    border-radius: 12px;
}

.shape {
    background-color: #bda671;
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #about {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape{
        display: none;
    }

    #cta {
        width: 100%;
        align-items: center;
        text-align: center;
    }
}